*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background: url("Image/student.jpeg") no-repeat center/cover;
    font-family: Arial, sans-serif;
    object-fit: fill;
}

.cover{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: rgba(29, 28, 28, 0.541); 
    /* margin-right: 500px; */
}


.entre1{
    font-size: 60px;
    margin-bottom: 20px;
}

.entre2{
    font-size: 30px;
    margin-bottom: 30p;
}


.com{
    width: 20%;
    height: 100px;
    display: inline-block;
    padding: 15px 30px;
    font-size: 40px;
    color: white;
    background-color: #007BFF;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.com:hover{
    background-color: #0056b3;
}

@media (max-width: 600px){
    .entre1{
        font-size: 24px;
    }

    .entre2{
        font-size: 15px;
    }
    body{
        width: auto;
    }
    .com{
        width: auto;
    }
    
}